gbptech-adf-dev21/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "gbptech-adf-dev21"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"LS_AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_AzureDataLakeStorage'"
		},
		"LS_AzureSqlDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSqlDatabase'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gbptechusadlsdev21.dfs.core.windows.net/"
		},
		"AzureKeyVaultOnPrem_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://GBPTechKeyVault.vault.azure.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gbptech-centralus-sqlserver-dev21.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GBPTech-CentralUS-SQLdb-Dev21"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"LS_AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gbptechusadlsdev21.dfs.core.windows.net/"
		},
		"LS_AzureSqlDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "gbptech-centralus-sqlserver-dev21.database.windows.net"
		},
		"LS_AzureSqlDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "GBPTech-CentralUS-SQLdb-Dev21"
		},
		"LS_AzureSqlDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Training38"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Azue_Web')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://api.restful-api.dev/objects"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:19:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Azure_SQl_Product_Tblae')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select ProductID,\n\t   Name,\n\t   Color,\n       StandardCost\nfrom SalesLT.Product",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Azure_SQL_Product_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:19:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Azure_SQL_Product_Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Azure_Script')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "select ProductID,\n\t   Name,\n\t   Color,StandardCost\nfrom [SalesLT].[Product] where ProductID=800\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:18:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Azure_Store_Ptocedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_Update_Standard_Cost]",
							"storedProcedureParameters": {
								"new_Product_ID": {
									"value": {
										"value": "@pipeline().parameters.pProductId",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"new_Std_Cost": {
									"value": {
										"value": "@pipeline().parameters.pStdCost",
										"type": "Expression"
									},
									"type": "Decimal"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pProductId": {
						"type": "int"
					},
					"pStdCost": {
						"type": "float"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:19:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Azure_Store_procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_Update_Standard_Cost]",
							"storedProcedureParameters": {
								"new_Product_ID": {
									"value": "800",
									"type": "Int32"
								},
								"new_Std_Cost": {
									"value": "3999",
									"type": "Decimal"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Id": {
						"type": "int"
					},
					"new_Std_cost": {
						"type": "float"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:19:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Child_Pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Source_File_Paramter",
								"type": "DatasetReference",
								"parameters": {
									"PSourceFilename": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Traget_File_Parameter",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T05:10:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_Source_File_Paramter')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Traget_File_Parameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Filter_Condition')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select ProductID,\n\t   Name,\n\t   Color,\n       StandardCost\nfrom SalesLT.Product",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Azure_SQL_Product_Table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@or(equals(item().Color,'Blue'), equals(item().Color,'Red'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-02T10:43:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Azure_SQL_Product_Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ForEach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 2,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Ds_Customer_Source_ForEach",
											"type": "DatasetReference",
											"parameters": {
												"SourceFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ds_Customer_Traget_ForEach",
											"type": "DatasetReference",
											"parameters": {
												"TragetFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "vAppendVariable",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CopyingFileNamesList",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vCopyFileName",
										"value": {
											"value": "@{variables('vAppendVariable')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Delete1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyingFileNamesList",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Ds_Customer_Source_ForEach",
											"type": "DatasetReference",
											"parameters": {
												"SourceFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vAppendVariable": {
						"type": "Array"
					},
					"vCopyFileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T06:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Customer_Source_ForEach')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Customer_Traget_ForEach')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_From_web_Filters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://api.restful-api.dev/objects"
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Web1').output.Response",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().id,1)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Logic _App_Testing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Customer_Source_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Customer_Target_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-24.centralus.logic.azure.com:443/workflows/98d849773f424e0ca9c66d4e63599ea4/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=9LjybXpxPX9tERNpGuWQLMeOcrXapCvlLFCWJ9_YLcA",
							"body": {
								"value": "utcNow(){\n\n\"Pipeline Name\":\"@{pipeline().Pipeline}\",\n\n\"Pipeline Run ID\":\"@{pipeline().RunId}\",\n\n\"Failure Time\":\"@{utcNow()}\",\n\n\"Error Message\":\"@{activity('Copy data1').Error.message}\"\n\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-20T10:54:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Customer_Source_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_Customer_Target_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Main_PipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Child_Pipeline1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pFileName": {
									"value": "@pipeline().parameters.P_Main_fileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Main_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T05:10:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Child_Pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_OnPremcopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy SQL data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "Select * From Employee",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat('OnPrem','_',utcNow())",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Sample_Copy_Action')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Customers file",
						"description": "copying the Customers file from source to target container ",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Customers",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Customer_Target_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T06:55:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/DS_Customer_Target_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Var Pipe Line Start Time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "vPipeLineStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Var Pipe Line Start Time",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Customer_Source_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Customers_Traget_File_TimeStampVariable",
								"type": "DatasetReference",
								"parameters": {
									"TragetFileName": {
										"value": "@concat('Customer','_',variables('vPipeLineStartTime'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vPipeLineStartTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-16T04:17:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Customer_Source_File')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Customers_Traget_File_TimeStampVariable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "varbinary"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azure_SQL_Product_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "varbinary"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Customer_Source_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Customers.csv",
						"folderPath": "Customers",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Customer_Target_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Customers",
						"fileSystem": "traget"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Customers",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Customers",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "traget"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Customer_Source_ForEach')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SourceFileName",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Customer_Traget_ForEach')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TragetFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TragetFileName",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "traget"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Customers_Traget_File_TimeStampVariable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TragetFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TragetFileName",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "traget"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Source_File_Paramter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PSourceFilename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().PSourceFilename",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Traget_File_Parameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": "Customers",
						"fileSystem": "traget"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Business Street",
						"type": "String"
					},
					{
						"name": "Business Street 2",
						"type": "String"
					},
					{
						"name": "Business Street 3",
						"type": "String"
					},
					{
						"name": "Business City",
						"type": "String"
					},
					{
						"name": "Business State",
						"type": "String"
					},
					{
						"name": "Business Postal Code",
						"type": "String"
					},
					{
						"name": "Business Country/Region",
						"type": "String"
					},
					{
						"name": "Home Street",
						"type": "String"
					},
					{
						"name": "Home Street 2",
						"type": "String"
					},
					{
						"name": "Home Street 3",
						"type": "String"
					},
					{
						"name": "Home City",
						"type": "String"
					},
					{
						"name": "Home State",
						"type": "String"
					},
					{
						"name": "Home Postal Code",
						"type": "String"
					},
					{
						"name": "Home Country/Region",
						"type": "String"
					},
					{
						"name": "Other Street",
						"type": "String"
					},
					{
						"name": "Other Street 2",
						"type": "String"
					},
					{
						"name": "Other Street 3",
						"type": "String"
					},
					{
						"name": "Other City",
						"type": "String"
					},
					{
						"name": "Other State",
						"type": "String"
					},
					{
						"name": "Other Postal Code",
						"type": "String"
					},
					{
						"name": "Other Country/Region",
						"type": "String"
					},
					{
						"name": "Assistant's Phone",
						"type": "String"
					},
					{
						"name": "Business Fax",
						"type": "String"
					},
					{
						"name": "Business Phone",
						"type": "String"
					},
					{
						"name": "Business Phone 2",
						"type": "String"
					},
					{
						"name": "Callback",
						"type": "String"
					},
					{
						"name": "Car Phone",
						"type": "String"
					},
					{
						"name": "Company Main Phone",
						"type": "String"
					},
					{
						"name": "Home Fax",
						"type": "String"
					},
					{
						"name": "Home Phone",
						"type": "String"
					},
					{
						"name": "Home Phone 2",
						"type": "String"
					},
					{
						"name": "ISDN",
						"type": "String"
					},
					{
						"name": "Mobile Phone",
						"type": "String"
					},
					{
						"name": "Other Fax",
						"type": "String"
					},
					{
						"name": "Other Phone",
						"type": "String"
					},
					{
						"name": "Pager",
						"type": "String"
					},
					{
						"name": "Primary Phone",
						"type": "String"
					},
					{
						"name": "Radio Phone",
						"type": "String"
					},
					{
						"name": "TTY/TDD Phone",
						"type": "String"
					},
					{
						"name": "Telex",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Anniversary",
						"type": "String"
					},
					{
						"name": "Assistant's Name",
						"type": "String"
					},
					{
						"name": "Billing Information",
						"type": "String"
					},
					{
						"name": "Birthday",
						"type": "String"
					},
					{
						"name": "Business Address PO Box",
						"type": "String"
					},
					{
						"name": "Categories",
						"type": "String"
					},
					{
						"name": "Children",
						"type": "String"
					},
					{
						"name": "Directory Server",
						"type": "String"
					},
					{
						"name": "E-mail Address",
						"type": "String"
					},
					{
						"name": "E-mail Type",
						"type": "String"
					},
					{
						"name": "E-mail Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 2 Address",
						"type": "String"
					},
					{
						"name": "E-mail 2 Type",
						"type": "String"
					},
					{
						"name": "E-mail 2 Display Name",
						"type": "String"
					},
					{
						"name": "E-mail 3 Address",
						"type": "String"
					},
					{
						"name": "E-mail 3 Type",
						"type": "String"
					},
					{
						"name": "E-mail 3 Display Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Government ID Number",
						"type": "String"
					},
					{
						"name": "Hobby",
						"type": "String"
					},
					{
						"name": "Home Address PO Box",
						"type": "String"
					},
					{
						"name": "Initials",
						"type": "String"
					},
					{
						"name": "Internet Free Busy",
						"type": "String"
					},
					{
						"name": "Keywords",
						"type": "String"
					},
					{
						"name": "Language",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "Manager's Name",
						"type": "String"
					},
					{
						"name": "Mileage",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					},
					{
						"name": "Office Location",
						"type": "String"
					},
					{
						"name": "Organizational ID Number",
						"type": "String"
					},
					{
						"name": "Other Address PO Box",
						"type": "String"
					},
					{
						"name": "Priority",
						"type": "String"
					},
					{
						"name": "Private",
						"type": "String"
					},
					{
						"name": "Profession",
						"type": "String"
					},
					{
						"name": "Referred By",
						"type": "String"
					},
					{
						"name": "Sensitivity",
						"type": "String"
					},
					{
						"name": "Spouse",
						"type": "String"
					},
					{
						"name": "User 1",
						"type": "String"
					},
					{
						"name": "User 2",
						"type": "String"
					},
					{
						"name": "User 3",
						"type": "String"
					},
					{
						"name": "User 4",
						"type": "String"
					},
					{
						"name": "Web Page",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultOnPrem_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSqlDatabase_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSqlDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSqlDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSqlDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedintegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}